### Cyber Bullying Prediction using Natural Language Processing and Machine Learning

Author: Zak Davlin

In [1]:
#Import needed modules
import pandas as pd
import numpy as np
import csv
import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

In [2]:
#Read in CSV file
CB=pd.read_csv("cyberbullying_tweets[1].csv", sep=",")
#First 5 rows
CB.head(5)

                                          tweet_text cyberbullying_type
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

In [3]:
#How much data do we have?
print(len(CB), "rows in the dataset.")
CB.cyberbullying_type.value_counts()

47692 rows in the dataset.

religion               7998
age                    7992
gender                 7973
ethnicity              7961
not_cyberbullying      7945
other_cyberbullying    7823
Name: cyberbullying_type, dtype: int64

In [4]:
CB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47692 entries, 0 to 47691
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_text          47692 non-null  object
 1   cyberbullying_type  47692 non-null  object
dtypes: object(2)
memory usage: 745.3+ KB

In [5]:
#Add a column to clean text
CB['Clean_Text'] = CB.loc[:,'tweet_text']
CB.head(5)

,tweet_text,cyberbullying_type,Clean_Text
0,"In other words #katandandre, your food was cra...",not_cyberbullying,"In other words #katandandre, your food was cra..."
1,Why is #aussietv so white? #MKR #theblock #ImA...,not_cyberbullying,Why is #aussietv so white? #MKR #theblock #ImA...
2,@XochitlSuckkks a classy whore? Or more red ve...,not_cyberbullying,@XochitlSuckkks a classy whore? Or more red ve...
3,"@Jason_Gio meh. :P thanks for the heads up, b...",not_cyberbullying,"@Jason_Gio meh. :P thanks for the heads up, b..."
4,@RudhoeEnglish This is an ISIS account pretend...,not_cyberbullying,@RudhoeEnglish This is an ISIS account pretend...

In [6]:
#Clean Text in the clean text column
#Remove duplicates if any
CB.drop_duplicates(subset=['tweet_text'])
#Replace popular abbreviations
CB["Clean_Text"] = CB["Clean_Text"].str.replace(" r "," are ")
CB["Clean_Text"] = CB["Clean_Text"].str.replace(" n "," in ")
CB["Clean_Text"] = CB["Clean_Text"].str.replace(" ur "," your ")
CB["Clean_Text"] = CB["Clean_Text"].str.replace(" u "," you ")
#Create a function to remove all @name as they do not pertain to the statements and are random user names

def Tweet_username_removal(x):
    x=x.split()
    x_new=[x for x in x if not x.startswith("@")]
    return ' '.join(x_new)
CB["Clean_Text"] = CB["Clean_Text"].apply(Tweet_username_removal)
print(CB.head(5))
print(CB.info())

                                          tweet_text cyberbullying_type  \
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

                                          Clean_Text
0  In other words #katandandre, your food was cra...
1  Why is #aussietv so white? #MKR #theblock #ImA...
2       a classy whore? Or more red velvet cupcakes?
3  meh. :P thanks for the heads up, but not too c...
4  This is an ISIS account pretending to be a Kur...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47692 entries, 0 to 47691
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_text          47692 non-null  object
 1   cyberbullying_type  47692 non-null  object
 2   Clean_Text          47692 non-null  object
dtypes: object(3)
memory usage: 1.1+ MB
None

Looks like we have no duplicates!

In [7]:
#Use text blob to add sentiment analysis 
from textblob import TextBlob
polarity_Subjectivity_scores=[]
#add blank columns to CB data frame
for text in CB['Clean_Text']:
    analysis = TextBlob(text)
    polarity_Subjectivity_scores.append((analysis.sentiment.polarity, analysis.sentiment.subjectivity))
SentimentDF=pd.DataFrame(polarity_Subjectivity_scores, columns=['Polarity','Subjectivty'])

In [8]:
CBFD=pd.merge(CB, SentimentDF,left_index=True, right_index=True)
CBFD.head(5)

,tweet_text,cyberbullying_type,Clean_Text,Polarity,Subjectivty
0,"In other words #katandandre, your food was cra...",not_cyberbullying,"In other words #katandandre, your food was cra...",-0.15625,0.375000
1,Why is #aussietv so white? #MKR #theblock #ImA...,not_cyberbullying,Why is #aussietv so white? #MKR #theblock #ImA...,0.00000,0.000000
2,@XochitlSuckkks a classy whore? Or more red ve...,not_cyberbullying,a classy whore? Or more red velvet cupcakes?,0.20000,0.466667
3,"@Jason_Gio meh. :P thanks for the heads up, b...",not_cyberbullying,"meh. :P thanks for the heads up, but not too c...",0.15000,0.733333
4,@RudhoeEnglish This is an ISIS account pretend...,not_cyberbullying,This is an ISIS account pretending to be a Kur...,0.00000,0.000000